<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>


    <link rel="stylesheet" href="https://buscamed.do/assets/css/bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="https://buscamed.do/assets/new_css/slimselect.css">
    <link rel="stylesheet" href="https://buscamed.do/assets/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://buscamed.do/assets/css/AdminLTE.min.css">

    <link rel="stylesheet" href="https://buscamed.do/assets/css/payment_css/general.css">
    <link rel="stylesheet" href="https://buscamed.do/assets/css/payment_css/tablet.css" />
    <link rel="stylesheet" href="https://buscamed.do/assets/css/payment_css/movile.css" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,500,700">


    <style>
        #containerForm {
            padding: 0;
        }
    </style>
</head>



{# <div style="color:red"> #}

    {# {{gett.message}} #}

    {# <br>
    <br> #}
{# </div> #}


     {% if gett.reason_code == '481'  %}
        <div id="greenContainer" style="height: 630px;">
                <div id="paymentSuccess" style=" color: red;
    text-align: center;
    width: 100%;
    display: block !important;">
                    Pago rechazado
                </div>

                <div id="amount"> RD${{amount}} </div>

                <div class="notes">
                    No. de Autorización  {{gett.auth_code}}
                </div>

                <div class="notes">
                    Megusta.do
                </div>

                <div class="notes">
                    ID Transacción  {{gett.transaction_id}}
                </div>

                <a href="{{link}}"> <div class="btn close--modal closeit" data-dismiss="modal" aria-label="Close" >Volver</div></a>
            </div>
{% else  %}



 {% if gett.req_transaction_type == 'sale'  %}
            <div id="greenContainer" style="height: 630px;">
                <div id="paymentSuccess">
                    <div class="checked"></div> Pago realizado con éxito
                </div>

                <div id="amount"> RD${{amount}} </div>

                <div class="notes">
                    No. de Autorización  {{gett.auth_code}}
                </div>

                <div class="notes">
                    Megusta.do
                </div>

                <div class="notes">
                    ID Transacción  {{gett.transaction_id}}
                </div>

                <div class="btn close--modal closetodeal" data-dismiss="modal " aria-label="Close">Terminar</div>
            </div>
       {% elseif gett.req_transaction_type == 'create_payment_token,sale'  %}
            <div id="greenContainer">
                <div id="paymentSuccess">
                    <div class="checked"></div> Pago realizado con éxito
                </div>

                <div class="notes" style="margin-top: 0;">
                    Tarjeta Agregada
                </div>

                <div id="amount"> RD${{amount}} </div>

                <div class="notes">
                    No. de Autorización  {{gett.auth_code}}
                </div>

                <div class="notes">
                    Megusta.do
                </div>

                <div class="notes">
                    ID Transacción  {{gett.transaction_id}}
                </div>

                <div class="btn close--modal closetodeal" data-dismiss="modal" aria-label="Close" style="margin-top: 5%;">Terminar</div>
            </div>
       {% elseif gett.req_transaction_type == 'create_payment_token'  %}
            <div id="greenContainer">
                <div id="paymentSuccess">
                    <div class="checked"></div> Tarjeta agregada con exito
                </div>

                <div class="notes" style="margin-top: 0;">
                    Tarjeta Agregada
                </div>

                {# <div id="amount"> RD${{amount}} </div> #}

                <div class="notes">
                    {# No. de Autorización  {{gett.auth_code}} #}
                </div>

                <div class="notes">
                    {# Megusta.do #}
                </div>

                <div class="notes">
                    ID Transacción  {{gett.transaction_id}}
                </div>

                <a href="{{link}}"> <div class="btn close--modal closeit" data-dismiss="modal" aria-label="Close" >Terminar</div></a>
            </div>

        {% else  %}
  




 {% if  (list_cards | e) %}
     <div id="makePayment">
        {# <form action="https://secureacceptance.cybersource.com/silent/pay" method="post" id="form_pay_app"> #}
         <form action="https://testsecureacceptance.cybersource.com/silent/pay" method="post" id="form_pay_app"> 
            <div id="greenArea">
                <div class="title">Realizar Pago</div>

                <div class="amount">
                    <sup>RD$</sup>{{amount}}
                </div>

                <div class="doctor">
                    Megusta.do
                </div>    
            </div>
            
            <div id="centerArea">
                <div class="date">
                    <span>Fecha y hora:</span> 

                    <div class="values">
                        {{list_cards[0].card_hash}}
                    </div>
                </div>

                <div class="card">
                    <span>Método de pago:</span> 

                    <div class="values">
                           {{list_cards[0].card_hash}}
                    </div>
                </div>
            </div>

            <div id="bottomArea">
                 {{data.vn_fields | raw }}
                <button type="submit" id="submit" value="Confirm" class="btn btn-primary add-button-modal">Continuar</button>
        </form>
                <div class="btn close--modal closeit" data-dismiss="modal" aria-label="Close">Cerrar</div>
            </div>
        {{ data.vn_append | raw}}
    </div>
 {% else  %}




<div id="containerForm">
    <div class="messageInfo">

{% if amount != '0.00'  %}
        <b>Debe registrar una tarjeta para poder efectuar tus pagos. Esta tarjeta se utilizara para futuros pagos.
            <span>Monto: RD</span>
            {{amount}}
              
        </b>
{% endif  %}

    </div>

    <div class="title">Agregar método de pago</div>

    {#  <form action="https://secureacceptance.cybersource.com/silent/pay" method="post" id="form_add_card"> #}
        <form action="https://testsecureacceptance.cybersource.com/silent/pay" method="post" id="form_add_card">

            <div class="inputElements">
                <label for="card_type">Tipo de tarjeta</label>
                <select class="modal-input" name="card_type" id="card_type" value="001">
                    <option data-placeholder="true"></option>
                    <option value="001">Visa</option>
                    <option value="002">MasterCard</option>
                </select>
            </div>

            <div class="inputElements">
                <label for="number">Número de tarjeta</label>
                <input class="modal-input" type="text" value="4111111111111111" name="card_number" id="number" placeholder="Numero de tarjeta" data-mask='0000000000000000'
                />
            </div>
            <div class="inputElements">
                <label for="number">CVN</label>
                <input class="modal-input" type="text" name="card_cvn" value="929" id="number_" placeholder="CVN" data-mask='000' />
            </div>

            <div class="inputElements">
                <label for="date">Fecha de vencimiento</label>
                <input class="modal-input" type="text" name="card_expiry_date" id="date" value="09-2020" placeholder="MM/AAAA" data-mask="00-0000" />
            </div>

            {{data.vn_fields | raw }}

            <button type="submit" id="submit" value="Confirm" class="btn btn-primary add-button-modal">Agregar</button>
            <div class="btn close--modal closeit" data-dismiss="modal" aria-label="Close">Cerrar</div>
        </form>

        <div class="termsConditions">
            <input type="checkbox" name="" id="terms"> Aceptar
            <a href="http://www.buscamed.do/General/terms" target="_blank" rel="noopener noreferrer">&nbsp;Términos y Condiciones</a>
        </div>

        {{ data.vn_append | raw}}
</div>

{% endif %}
{% endif %}
{% endif %}

<script src="https://buscamed.do/assets/js/jquery-1.9.1.min.js"></script>
<script src="https://buscamed.do/assets/js/bootstrap.min.js"></script>
<script src="https://buscamed.do/assets/new_js/slimselect.js"></script>
<script src="https://buscamed.do/assets/js/masking.js"></script>
<script src="https://buscamed.do/_buscamedv/assets/plugins/fullcalendar/lib/moment.min.js"></script>
<script src="https://buscamed.do/_buscamedv/assets/plugins/fullcalendar/lib/es-do.js"></script>
<script src="https://buscamed.do/assets/js/payment_modal.js"></script>

<script> 
    $(".closeit").click (function ()  {
        window.parent.$(window.parent.document).trigger('complete');
        window.parent.triggerComplete();
        customEvent("ccc");
    });
    $(".closetodeal").click (function ()  {
        window.parent.closeTodeal();
        customEvent("ccc");
    });
    $("#myModal").show();
    function customEvent(name) {
        document.dispatchEvent(new CustomEvent(name, {
            bubbles: true,
            cancelable: true
        }));
    }

</script>